html {
  font-family: sans-serif;
}
header {
  text-align: center;
  background-color: #7a7a7a;
  color: white;
 
}
header h1 {
  font-weight: normal;
  padding: 20px;
}
h2 {
  font-weight: normal;
}

.input, .label  {
  display: block;
}
#firstDiv {
  float: left;
  margin-right: 2%;
}
#lastDiv {
  float: left;
  margin-right: 2%;
}
#idDiv {
  float: left;
  margin-right: 2%;
}
#titleDiv {
  float: left;
  margin-right: 2%;
}
#salaryDiv {
  float: left;
  margin-right: 2%;
}
label {
  font-size: small;
}
input {
  border-width: 2px;
}
button {
  border-radius: 5px;
}
#monthlyTotal {
  border-style: none;
  text-align: right;
}

table {
  width: 100%;
  margin-top: 50px;
}

table, th, td, tfoot {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}
th, td {
  padding: 3px;
}

.redCell {
  background-color: red;
}
tr:nth-child(even) {
  background-color: #d3d3d3;}

th {
  background-color: #a9a9a9;
}
