html {
  font-family: sans-serif;
}
header {
  text-align: center;
  background-color: #7a7a7a;
  color: white;
 
}
header h1 {
  font-weight: normal;
  padding: 20px;
}
#flexInput {
  display: flexbox;
}
#labeleFlex {
  display: flexbox;
}
.input {
  flex-direction: row;
  width: 15%
}
.label {
  flex-direction: row;
  width: 30%;
}

table {
  width: 100%;
  margin-top: 50px;
}

table, th, td, tfoot {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}
th, td {
  padding: 3px;
}
input {
  margin-top: 5px;
}

.redCell {
  background-color: red;
}
tr:nth-child(even) {
  background-color: #d3d3d3;}

th {
  background-color: #a9a9a9;
}
